* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#comicheader{
 text-align: center;
 font-size: 35px;
 font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 background-color: rgb(133, 110, 133);
 padding-bottom: 20px;
}
.answer_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    border-radius: 15px;
    color: rebeccapurple;
    transition: 0.15s ease;

}
.answer_container:hover{
    transform: scale(110%);
}
    
.answer{
    font-size: medium;
    text-align: center;
}
