
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#projectqheader {
    text-align: center;
    font-size: 35px;
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #b89ee9;
    background-image: url("images/cardboardbg.jpg");
    box-shadow: 7px 8px 10px rgba(9, 9, 34, 0.185);

    width: 100%;
    height: 160px;

    border-bottom-left-radius: 90px;
    border-bottom-right-radius: 90px;

    padding-bottom: 20px;
    /* colors are just placeholders for now */
}

#head_grid{
   display: grid;
   grid-template-columns: 33.3% 33.3% 33.3%;
   margin-top: -150px;

}

#res {
    background-color: white;
    background-image: url(images/minicrumple.png);
    overflow: hidden;
   
    text-align:center;

    width: 250px;
    height: 60px;
    align-self: center;

    border-radius: 20px;
    box-shadow: 7px 8px 10px rgba(9, 9, 34, 0.185);
    transition: ease 0.14s;

}

#res:hover{
    transform: scale(110%);
}


h1 {
    /* position: absolute; */
    text-align: center;
    /* margin-top: -150px; */
    /* top: 18px; */
    left: 39.5%;
    margin-left: -16px;
    
}

body{
    background-color: #e2c2fd;
    background-image: url("images/warmpaper.png");
    background-repeat: repeat;
    height: 100vh;
}


#cardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}


#gridparent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 95px;

    justify-content: center;

}

.card {
    background-color: white;
    border-radius: 30px;
    
    

    width: 380px;
    height: 240px;
    text-align: center;
    overflow: hidden;
    box-shadow: 7px 8px 10px rgba(9, 9, 34, 0.5);

    transition: transform 0.15s ease;   
}

.card:hover{
    transform: scale(110%);
    
}

.image{
    height: 140px;

    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        
    }
}

a {
    color:black;
    text-decoration: none;
}